@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700&display=swap');
/* font-family: 'Mulish', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/* font-family: 'Inter', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 0;
min-width: 0;
}

.challengingLimitsContainer{
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

@media (max-width:600px){
  .challengingLimitsContainer{
    flex-direction: column;
    width: 100%;
  } 
}


